body {
    background-image: url(https://raw.githubusercontent.com/oguzhandemirci1993/Istanbul-Grocery-Store/main/Jalapenos.jpg);
    font-family: Georgia, Calibri;
}

.list{
    background-color: springgreen;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

h1, h2 {
    font-family: Georgia, Calibri;
    text-align: center;
}

.marketing {
    font-family: Georgia, Calibri;
    text-align: center;
    font-style: italic;
}

hr {
    border-color: green;
    background-color: green;
    height: 1px;
}

img{
    display:block;
    margin:auto;
}

/*FOOTER SECTION STYLING STARTS FROM HERE*/

a:hover {

}

